.hLogo {
  display: flex;
  justify-content: center;
  padding: 20px;
  a {
    font-family: var(--family);
    text-decoration: none;
    color: var(--primary-blue);
    font-size: 3rem;
    font-weight: var(--fw-bold);
  }
}
