/* Colors */
$primary: #232223;
$primary-dark: #3e4352;
$primary-blue: #eb0029;
$secondary: #e7e7e7;
$secondary-grey: #787878;
$bg-white: #fff;
$bg-grey: #f8f8f8;

/* font */
$family: 'Josefin Sans', sans-serif;
$family-secondary: 'Lato', sans-serif;
$fw-normal: 400;
$fw-bold: 700;

$radii: 1rem;
$radii-sm: 20px;

$radii-sm: 20px;
