@use '../../consts/variables.scss' as *;

.sItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1.5rem;
  background-color: $bg-white;

  img {
    border-radius: 1.5rem 1.5rem 0 0;
  }
}

.sImage {
  width: 100%;
}

.sContent {
  padding: 20px;
  font-size: 16px;
}

.sTitle {
  font-size: 20px;
  padding-bottom: 10px;

  a {
    font-family: $family;
    color: $primary-blue;
    font-weight: $fw-normal;
  }
}
